/onehand/ppt 演示程序/PointViewer/Debug
/OneHand/ppt 演示程序/PointViewer/Debug
/OneHand/ppt-viewer/PointViewer/Debug
/OneHand/ppt-viewer/Bin/Debug/*.pdb
/OneHand/ppt-viewer/PointViewer/*.ncb
/OneHand/ppt-viewer/PointViewer/*.user
/OneHand/ppt-viewer/*.ncb
/OneHand/ppt-viewer/*.suo
/OneHand/*.ncb
/OneHand/*.suo
